<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- [Bootstrap] Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- [Bootstrap] Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('webapp.static', filename='css/style.css') }}">


</head>
<body>

    <div class="head">
        <div class="head-container">
            <div class="head-left">
                <a href="#">
                    <img src="#">
                </a>
            </div>

            <nav class="head-right main-menu">
                <a href="#">Rezervat</a>
                <a href="#">Fushate</a>
                <a href="#">Dhurues</a>
            </nav>
        </div>
    </div>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Our scripts -->
    <script src="{{ url_for('webapp.static', filename='js/constants.js') }}"></script>
    <script src="{{ url_for('webapp.static', filename='js/build/vendors.js') }}"></script>
    <script src="{{ url_for('webapp.static', filename='js/build/specs.js') }}"></script>
    <script src="{{ url_for('webapp.static', filename='js/build/main.js') }}"></script>

</body>
</html>
