body{
    background-color: rgb(229,229,229);
}

.head{
    background-color: rgb(50,50,50);
    height: 64px;
    box-shadow: 3px 6px 5px #888;
}

.head-container{
    width: 1024px;
    margin: auto;
    padding-top: 32px;
}

.head-left, .head-right{
    display: inline-block;
}

.main-menu{
    float: right;
}
.main-menu a{
    padding-left: 10px;
    color: white;
}
.main-menu a:hover{
    color: #E0894E;
    text-decoration: none;
}

/***********************************************/
.container{
    width: 1024px;
    margin: auto;
    margin: 10px auto;
    padding: 0;
    /*padding-top: 10px;*/
}
