body{
    background-color: rgb(229,229,229);
}

.head{
    background-color: rgb(50,50,50);
    height: 64px;
    box-shadow: 3px 6px 5px #888;
    margin-bottom: 20px;
}

.head-container{
    max-width: 1170px;
    margin: auto;
    padding-right: 15px;
}

.head-left img{
    width: 48px;
}

.head-left{
    height: 41px;
}

.main-menu{
    float: right;
}
.main-menu a{
    padding-left: 10px;
    color: white;
}
.main-menu a:hover{
    color: #E0894E;
    text-decoration: none;
}

/***********************************************/

.ProfileContainer{
    vertical-align: top;
    min-height: 200px;
}

.SearchHeader{
    background-color: #D30101;
}

#search{
    width: 100%;
    background-color: #D30101;
    color: white;
    border-color: white;
    padding: 2px 4px;
    border: 1px solid;
}

#search:focus{
    border: 1px solid white;
    outline: 0;
    color: #eee;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    white;
}


.SearchBody{
    margin-top: 10px;
}

.SearchHeader, .SearchBody, .ProfileContainer{
    padding: 15px;
}

.box-shadow{
    box-shadow: 3px 3px 3px #888;
}

.bloodFilter{
    color: white;
    margin-top: 5px;
    background-color: #D30101;
    padding: 5px;
}

.bloodFilter-left{
    display: inline-block;
}

.bloodFilter-right{
    float: right;
}


.bloodGroup{
    display: inline-block;
    margin-right: 10px;
    padding: 4px 10px 0px 0px;
    border-right: 1px solid white;
}

.bloodGroup:last-child{
    border-right: none;
}

.bloodType{
    display: block;
}

.bloodType input{    
    margin-right: 9px;
    width: 20px;
    outline: 0;
    box-shadow: none;
    display: inline;
    vertical-align: middle;
    margin-top: 0px;
}

.bloodType input:focus{
    outline: 0;
    box-shadow: none;
}

.bloodFilter-right input{
    width: 100%;
}

.UsersTable{
    width: 100%;
}

.ProfileDiv{
    display: table-cell;
    vertical-align: top;
}

.ProfileDiv img{
    width: 150px;
}

.ProfileDiv ul, .ProfileEdit ul{
    margin: 0;
    list-style: none;
    padding-left: 10px;
}

.Profile{
    border-bottom: 1px solid red;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.edit{
    cursor: pointer;
}

.edit:hover{
    cursor: pointer;
    text-decoration: underline;
}

.ProfileEdit label span{
    display: block;
}

.ProfileEdit{
    text-align: center;
}

.ProfileEdit ul{
    padding: 0;
}

.component{
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
}

.navbar-brand{
    padding: 11px 15px;
}

.campaignElement{
    padding: 5px;
}

.right{
    float: right;
}